/* Comando non più utile in quanto interviene il framework */
 .row {
  /*width: 992px;
  margin-left: auto;
  margin-right: auto;*/
  margin-top: 100px;
}  

/* BLOCCO LEZIONI
/* Comando non più utile in quanto il framework ha il suo float */
/*#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
} */

#lezioni .row img {
  /*per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
} 

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
/* Comando non puù utile in quanto interviene il framework */
/* #steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
} */

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  /* width: 100%; */
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
/* Comando non più utile in quanto il framework ha il suo clearfix. */
/* .row::after {
  content: '';
  display: table;
  clear: both;
} */

.wrapper.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* Media Query */
@media all and (min-width: 992px) {
  img{
    height: 200px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  img{
    height: 150px;
  }
}
@media all and (max-width: 767px) {
  img{
    height: 100px;
  }
}